@charset "UTF-8";

html{
	color:white;
	background-color: black;
}

#header{
    height:550px;padding:52px 20px 0 350px;
    line-height:10%;
	background-image:url(Pictures/myback.jpg);
	background-size:cover;
	font-family:'Allan';
 
}   
    #header h1{
        font:78px Allan, Serif;color:#f2f0eb;margin: 10% 0% 0% 6%;
        text-shadow:0px 2px px #494949;
    }
    #header h2{
        width:75%;font:40px Times New Roman, Serif;color:#f2f0eb; letter-spacing: 2px;
        text-shadow:0px 2px 1px #494949;text-align: center;
    }
    

.e1{
	font-size: 70px;
	text-align: center;
}
#e2{
	font-size: 40px;
	text-align: center;

}
.f-s{
	float:right;
	width: 42%;
	height: 20%;
    
	
}

.s4{
	color: white;
    
}
.black{
	color: white;
}


.s1,.s2,.s4,.s5,.s6{
	line-height: 40px;
	padding:30px;
	font-family: 'Allan';
    color: white;


}
.s3{
    margin: 50px;
    color: white;
}
.link{
color:green;
	
}

h2,h3
{
	color:white;
	line-height: 2px;
	font-size: 45px;
    padding: 2%;
	
	

}
p{
	font-size:30px;
	line-height: 40px;
	color:black;
	
}

ul {
    list-style-type:none;
     margin-top:-.3%;   
    font-size: 24px;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5
    );
    width:100%;


}

li {
    float: left;
    
}

li a {
    display:-moz-grid-line;
    color: white;
    text-align: center;
    padding:14px;
    text-decoration: none;
    font-size: 140%;
    
    
    
}

li a:hover {
	color: black;
    background-color: white;
    padding-block-end:10px;
}

.w3-wide{
	letter-spacing:5px;
    margin-left: 2%;
    color: white;
    
}
.w3-white,.w3-hover-white:hover{color:red;background-color:black;padding:0.8%;margin: 2% 2%!important
}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover
{color:blue!important;background-color:skyblue;padding-block-end: 1%}



    .clock {
      background-color:white;
      width: 20rem;
      height: 20rem;
      
      border-radius:10%;
      margin:auto;
      margin-right:2cm;
      margin-top:-13cm;
      padding:2em;
      box-shadow:
        0 0 0 5px black,
        inset 0 0 0 6px white,
        inset 0 1000px 1000px black,
        0 0 10px rgba(0,0,0,0.30);
    }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-2px); /* account for the height of the clock hands */
    }

    .hand {
      width:50%;
      height:5px;
      background:gold;
      position: absolute;
      top:50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      transition: all 0.05s;
      transition-timing-function:ease-out;
    }
   .parallax {
    /* The image used */
    background-image: url("hii.jpeg");

    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  .parallax2,.parallax3{
    /* The image used */
    background-image: url("bac.jpg");

    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header1{
    height:10px;
    display: flex;
    justify-content: center;
    line-height:100px;
	background-image:url(Pictures/header2.jpg);
	background-size:cover;
 
}
#header1 h2{
        width:800px;font:50px Georgia, Serif;color:#f2f0eb; letter-spacing: 2px;
        text-shadow:0px 2px 1px #494949;text-align: center;
    }
 #header2{
    height:40px;padding:52px 10px 0 320px;
    line-height:100px;
	background-image:url(Pictures/white.jpeg);
	background-size:cover;
 
}
#header2 h2{
        width:800px;font:50px Georgia, Serif;color:#f2f0eb; letter-spacing: 2px;
        text-shadow:0px 2px 1px #494949;text-align: center;
    }

    #header3{
    height:20px;padding:52px 10px 0 320px;
    line-height:500px;
	background-image:url(Pictures/header.jpeg);
	background-size:cover;
 
}   
    #header3 h2{
        width:830px;font:50px Georgia, Serif;color:#f2f0eb; letter-spacing: 2px;
        text-shadow:0px 2px 1px #494949;text-align: center;
    }
    .parallax4,.parallax5{
    	background-image: url("bac.jpg");

    /* Set a specific height */
    min-height: 200px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
      #header4{
    height:500px;padding:52px 10px 0 320px;
    line-height:500px;
	background-image:url(Pictures/header4.jpeg);
	background-size:cover;
	color: white;
          
 
}   

    #header4 h2{
        width:830px;font:50px Georgia, Serif;color:#f2f0eb; letter-spacing: 2px;
        text-shadow:0px 2px 1px #494949;text-align: center;
    }
    input[type=text], select {
    width: 100%;
    padding: 20px 10px;
    margin: 8px 1px;
    display:-moz-deck;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    
    color:black;
}

input[type=submit] {
    width: 20%;
    background-color: black;
    color: white;
    padding: 15px;
    float:right;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

.form {
    border-radius: 5px;
   font-size:20px; 
    padding: 100px;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: black;
  width: 0%;
}
.fix{
 position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: black;
}
.follow{
	padding-left: 20cm;
}
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
  
#icons{
    display: flex;
    justify-content:space-evenly;
    padding: 100px;

  }
.ic{
    color: white;
   margin:5% auto;
   font-size: 20px;
   text-align: center;
}
.ic :hover{
    color:cyan;
    
}
.ContactME{
  font-size: 300%;
  text-align: center;
}
#scroll{
  margin : 10% 0% 0% 35%;
 
}
.feature{
  font-size: 24px;
}